<div class="table-responsive">
    {{#if_equal user.userType 'teacher'}}
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Grade</th>
            <th>View Course</th>
            <th>Remove Course</th>
        </tr>
        {{#each courses}}
        <tr>
            <td>
                {{title}}
            </td>
            <td>
                {{grade}}
            </td>
            <td>
                <a href="/courses/view/{{id}}" class="btn btn-success">View</a>
            </td>
            <td>
                <form method="post" action="/courses/{{id}}?_method=DELETE">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger" type="submit">Remove</button>
                </form>
            </td>
        </tr>
        {{else}}
        <p>No courses</p>
        {{/each}}
    </table>
    {{/if_equal}}
    {{#if_equal user.userType 'student'}}
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Grade</th>
            <th>View Course</th>
            <th>Enroll Course</th>
        </tr>
        {{#each courses}}
        <tr>
            <td>
                {{title}}
            </td>
            <td>
                {{grade}}
            </td>
            <td>
                <a href="/courses/view/{{id}}" class="btn btn-success">View</a>
            </td>
            <td>
                <form method="post" action="/students/enroll/{{id}}">
                    <button class="btn btn-warning" type="submit">Enroll</button>
                </form>
            </td>
        </tr>
        {{else}}
        <p>No courses</p>
        {{/each}}
    </table>
    {{/if_equal}}
</div>